{% extends "users/base.html" %} {% block title %} Homepage {% endblock %}
 {% block content %}
 {% if user.is_authenticated %}
<p>Welcome, {{ user.username }}!</p>
<p>Your email: {{ user.email }}</p>
{% else %}
<p>You are not logged in.</p>
{% endif %} {%if user.is_seeker%}
<p>You are a seeker</p>
{% elif user.is_employer %}
<p>You are a employer</p>
{% elif user.is_staff %}
<p>You are a staff</p>
{% else %}
<p>You are not logged in.</p>
{% endif %}
<form action="{% url 'search_results' %}" method="get">
  <input name="q" type="text" placeholder="Search...">
</form>
{% for job in page_obj.object_list %}
<div class="container">
  <div class="d-flex flex-column align-items-center">
    <div class="card col-12 col-sm-12 col-lg-6 my-3 mx-2">
      <div class="card-body border border-info border-1 rounded">
        <h5 class="card-title">{{ job.title }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">{{job.company_name}}</h6>
        <p class="card-text">{{job.location}}</p>
        <div>
          <span class="badge bg-success"
            >₹{{job.min_salary_lpa}}LPA - {{job.max_salary_lpa}}LPA a year</span
          >
          <span class="badge bg-primary">{{job.job_type}}</span>
          <span class="badge bg-light text-dark">Day shift</span>
          <span class="badge bg-info text-dark">Health insurance</span>
        </div>
        <a href="/jobcard/{{job.slug}}" class="btn btn-primary">Apply</a>
      </div>
    </div>
  </div>
</div>

{% endfor %} 
<center>
        {%if page_obj.has_previous %} {# whether the previous page exists #}
            <a href="?page={{page_obj.previous_page_number}}"><</a> {# link to the prev page #}
        {% endif %}
        <span>{{page_obj.number}}</span> {# the current page number #}
      
        {%if page_obj.has_next %} {# whether the next page exists #}
            <a href="?page={{page_obj.next_page_number}}">></a> {# link to the next page #}
        {% endif %}
    </center>
{% endblock %}
