<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% load socialaccount %}
    {% if request.user.is_authenticated %}
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque obcaecati harum ullam, nulla quis officiis velit minus labore exercitationem cumque explicabo iusto tenetur consectetur officia molestiae quidem omnis ipsum unde!</p>
    <p>my name is {{myname}}</p>
    <p>im here for gaming </p>
    <a href="{% url 'account_logout' %}">Logout</a>
    {% else %}
    <a href="{% provider_login_url 'github' %}"><p>login with github</p></a>
    {% endif %}
    
    
</body>
</html>